Package: com.straitiff.windowplaner
Name: Window Planer
Depends: mobilesubstrate, preferenceloader
Version: 1.1
Architecture: iphoneos-arm
Description: Rounds corners of the screen throughout iPhone OS. Corner radius can be edited live via preferences app.
Maintainer: jstraitiff
Author: JStraitiff <straitiffjr@gmail.com>
Section: Tweaks
