Package: com.straitiff.windowplaner
Name: Window Planer
Depends: mobilesubstrate, preferenceloader
Version: 1.0
Architecture: iphoneos-arm
Description: Rounds corners of the screen throughout iPhone OS. Corner radius can be edited via preferences app.
Maintainer: Jstraitiff <straitiffjr@gmail.com>
Author: JStraitiff
Section: Tweaks
